In [1]:
import pandas as pd
import pickle

In [2]:
interventiongroup = pickle.load(open( '../00_data/cleaned/sitzungssummary.pkl','rb') )
interventiongroup = interventiongroup[['UserID','interventiongroup','Geschlecht','Klassenstufe']]
interventiongroup = interventiongroup.drop_duplicates()

In [3]:
userIDs = pd.read_csv('learning_data.csv')
userIDs = userIDs[['UserID']]
userIDs = userIDs.reset_index()
userIDs['index'] = userIDs['index']+1

In [4]:
# save raschmodell.mle as txt
# speichern als csv
# in excel oeffnen 
# in spalten aufteilen
# eine extra zeile zu beginn hinmachen, damit man da die column names draufsetzen kann
# csv als conquest_output.csv speichern

In [5]:
df = pd.read_csv('conquest_output.csv', delimiter=';')

In [6]:
names = ['ID',"score","max_score","ability", 'ste']
df.columns = names
df

        ID  score  max_score  ability      ste
0        1    6.0        8.0  1.40629  0.84616
1        2    1.7        2.0  2.67299  1.97968
2        3    1.7        2.0  2.84213  1.98574
3        4    6.0        8.0  1.04195  0.83067
4        5    4.0        5.0  1.57918  1.12541
...    ...    ...        ...      ...      ...
8086  8087    5.7        6.0  3.44801  1.87661
8087  8088    7.0       10.0  1.62061  0.71200
8088  8089   12.0       13.0  2.67638  1.05048
8089  8090    6.7        7.0  2.43036  1.87244
8090  8091   10.0       12.0  2.17453  0.78799

[8091 rows x 5 columns]

In [7]:
#merge output with userID
competence = pd.merge(df, userIDs, left_on='ID', right_on='index')
competence=competence[['UserID','ability']]

In [8]:
competence = pd.merge(competence, interventiongroup, on='UserID', how='left')
competence

       UserID  ability interventiongroup Geschlecht Klassenstufe
0      186923  1.40629                 6          m            9
1      360974  2.67299                 2          w           10
2      373836  2.84213                 2          w            6
3      409463  1.04195           control          m            9
4      435839  1.57918           control          w            8
...       ...      ...               ...        ...          ...
8086  1063461  3.44801                 6          m           11
8087  1063470  1.62061                 2          w           11
8088  1063762  2.67638               NaN        NaN          NaN
8089  1063918  2.43036                 6          w           13
8090  1064116  2.17453                 6          m           11

[8091 rows x 5 columns]

In [9]:
competence.to_pickle('../00_data/final/competence_pruefungssatze.pkl')